.searchInfo {
    text-align: left;
}
.searchList {
    list-style: none;
}

.searchItem,.searchItemActive {
    padding: 1.1rem .6rem;
    color: var(--white-color);
    border-bottom: 1px solid var(--grey-color-2);
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.searchItem:focus {
    background-color: var(--grey-color-2);
    outline: none;
}  

.searchItemActive {
    background-color: var(--grey-color-4);
}

.searchItem:hover {
    background-color: var(--grey-color-4);
}

.searchItem:last-child {
    border: none;
}