.searchInfo {
    text-align: left;
}
.searchList {
    list-style: none;
}

.searchItem {
    padding: .8rem .4rem;
    color: var(--grey-color-3);
    border-bottom: 1px solid var(--grey-color-2);
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.searchItem:hover {
    background-color: var(--grey-color-4);
}

.searchItem:last-child {
    border: none;
}