.projectDropdown {
    position: absolute !important;
    background-color: var(--grey-color-1) !important;
    left: 95% !important;
    top: 2.7rem !important;
    width: 20rem !important;
    z-index: 5000 !important;
    box-shadow: 0 2px 5px rgba(0,0,0,.35) !important;
    box-shadow: 0 4px 6px rgba(0,0,0,.45) !important;
    border-radius: 3px !important;
}

.projectDropdown ul li {
    list-style: none !important;
    display: flex !important;
    align-items: center !important;
    padding: .9rem 1rem !important;
    font-size: 1.2rem !important;
    cursor: pointer !important;
    color: var(--white-color);
}

.projectDropdown ul li:hover {
    background: var(--grey-color-2)!important ;
}

.projectDropdown ul li:focus {
    background: var(--grey-color-2)!important;
    outline: none !important;
}

.projectDropdown ul li span :first-child {
    margin-right: .6rem !important;
    font-size: 1.6rem !important;
}



