.tasks {
    background-color: var(--grey-color-dark);
    width: 100%;
    min-height: 100vh;
    margin-left: 2.5rem;
    padding: 2.5rem;
    border-radius: 3px;
    position: relative;
}

.tasksTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tasksTitleContainer span {
    color: var(--grey-color-hover-4);
    font-size: 2.8rem;
    cursor: pointer;
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .3s ease-in, transform .2s ease-in-out;
    border-radius: 50%;
    position: relative;
}

.tasksTitleContainer span:hover {
    background-color: var(--grey-color-2);
    /* transform: translateY(-.4rem); */
}



.tasks h1 {
    font-size: 1.8rem;
    color: var(--white-color);
    font-weight: 500;
}

.addTaskContainer {
    display: flex;
    align-items: center; 
    cursor: pointer;
    width: max-content;
}

.addTaskContainer button,.addTaskContainer span {
    font-size: 1.4rem;
    color: var(--grey-color-hover-4);
    margin-top: 2rem;
    font-weight: 300;
}

.addTaskContainer span {
    color: var(--red-color-3);
    width: 20px;
    height: 20px;
    font-size: 1.8rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addTaskContainer:hover button {
    color: var(--red-color-3);
}

.addTaskContainer:hover span {
    background-color: var(--red-color-3);
    color: var(--grey-color-4);
}

.taskForm {
    width: 100%;
    margin-top: 1.5rem;
}

.taskFormInputGroup input {
    width: 100%;
    border: 1px solid var(--grey-color-4);
    background: var(--grey-color-dark);
    color: var(--grey-color-3);
    padding: .7rem .5rem;
    font-size: 1.3rem;
}

.taskFormInputGroup input::placeholder {
    color: var(--grey-color-3);
    font-size: 1.4rem;
}

.taskFormButtonContainer {
    margin-top: .8rem;
}

.taskFormButtonContainer button {
    padding: .6rem .9rem;
    border-radius: 3px;
    font-size: 1.4rem;
}

.taskFormButtonContainer button:first-child {
    background: var(--red-color-3);
    color: var(--white-color);
}
.taskFormButtonContainer button:last-child {
    color: var(--grey-color-3);
    margin-left: 1.5rem;
}

.taskFormButtonContainer button:last-child:hover {
    color: var(--white-color);
    text-decoration: underline;
}

.taskItem {
    padding: 1.2rem .5rem;
    border-bottom: 1px solid var(--grey-color-2);
    color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.task {
    font-size: 1.4rem;
}

.taskItem:hover .taskItemSettings {
    visibility: visible;
}

.taskItemSettings {
    visibility: hidden;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

 .taskItemSettings:hover {
     background-color:var(--grey-color-2)
 }
 
 .taskDot {
     display: block;
     border: 1px solid var(--grey-color-4);
     border-radius: 50%;
     width: 2rem;
     height: 2rem;
     margin-right: 2rem;
     transition: background-color .4s ease-in;
     cursor: pointer;
 }

 .taskDot:hover {
     background-color: var(--grey-color-2);
 }