.navItems  {
    list-style: none;
    display: flex;
    align-items: center;
}

.navItems li {
    color: var(--grey-color-3);
    font-size: 2.2rem;
    cursor: pointer;
    transition: color .3s ease-in-out;
}

.navItems li:hover {
    color: var(--grey-color-hover-3);
}

.navItems li:not(:last-child) {
    margin-right: 2rem;
}