.settingsMainPageHeader {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.accountSubtitle {
    width: 10rem;
    font-size: 1.2rem;
    color: var(--grey-color-3);
}

.accountInfoItemSpan {
    font-size: 1.2rem;
}

.accountInfoItemButton {
    font-size: 1.2rem;
    color: var(--red-color-3);
    margin-left: 2rem;
}

.accountInfoItemButton:hover {
    text-decoration: underline;
}