.projectItem {
    list-style: none;
    color: var(--white-color);
    font-size: 1.3rem;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 3px;
    position: relative;
}

.projectItem a:visited,.projectItem a:link {
    width: 90%;
    padding: 1rem .5rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--white-color);
}

.projectsTitle {
    color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 1rem 0;
    border-bottom: 1px solid var(--grey-color-4);
    font-size: 1.5rem;
}

.projectsTitle .projectsTitleIcon {
    color: var(--grey-color-3);
}

.projectsTitle .projectsTitleIcon:last-of-type {
    font-size: 2rem;
}

.projectsTitle .projectsTitleIcon:last-of-type:hover {
    color: var(--white-color);
}

.projectHide {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.projectShow {
    opacity: 1;
    transition: opacity .3s ease-in-out;
    animation: project .8s ease-in-out;
}

.projectItemSettings {
   visibility: hidden;
   width: 22px;
   height: 22px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
}

.projectItemSettings:hover {
    background-color:var(--grey-color-2)
}

.projectItem div span {
    display: inline-block;
}

.projectItem:hover .projectItemSettings {
   visibility: visible;
}

.projectItem:hover {
    background-color: var(--grey-color-4);
}

.addProjectContainer {
    display: flex;
    align-items: center; 
    cursor: pointer;
}

.addProjectContainer button,.addProjectContainer span {
    font-size: 1.6rem;
    color: var(--grey-color-hover-4);
    margin-top: 2rem;
    font-weight: 300;
}

.addProjectContainer span {
    color: var(--red-color-3);
    width: 20px;
    height: 20px;
    font-size: 1.8rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addProjectContainer:hover button {
    color: var(--red-color-3);
}

.addProjectContainer:hover span {
    background-color: var(--red-color-3);
    color: var(--grey-color-4);
}

.archivedProjectsContainer {
    margin: 2.5rem 0;
}

.archivedProjectsContainer h3 {
    font-size: 1.3rem;
    cursor: pointer;
    color: var(--grey-color-hover-4);
    font-weight: 500;
    width: max-content;
}

.archivedProjectsContainer h3:hover {
    color: var(--grey-color-3);
}

@keyframes project{
    from {
        background-color:var(--grey-color-4);
    }

    to {
        background-color:transparent;
    }
}