.authContainer {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.authForm {
    padding: 2rem 2rem 0 2rem;
    background-color: var(--grey-color-2);
    border-radius: 3px;
    min-width: 30%;
    box-shadow: 1px 1px 3px rgba(0,0,0,.15);
    box-shadow: 1px 2px 4px rgba(0,0,0,.25);
}

.formTitleContainer {
    border-bottom: 1px solid var(--white-color);
    margin-bottom: 2rem;
}

.formTitleContainer  h1{
    color: var(--white-color);
    font-weight: 400;
    font-size: 2.4rem;
}

.groupControl input {
    /* background-color: var(--grey-color-4); */
    background-color: transparent;
    margin: .5rem 0;
    border: none;
    border-bottom: 1px solid var(--grey-color-4);
    color: var(--grey-color-3);
    padding: .8rem .5rem;
    border-radius: 3px;
    transition:  background .2s ease-in;
    font-size: 1.4rem;
    width: 100%;
}


.groupControl input:hover {
    background: var(--grey-color-hover-4);
}

.groupControl input:focus {
    background: var(--grey-color-4);
}


.groupControl input::placeholder {
    color: var(--grey-color-3);
    font-size: 1.4rem;
}

.formBtn {
    display: flex;
    align-items: center;
}


.formBtn button {
    margin-top: 1rem;
    padding: .6rem .8rem;
    color: var(--grey-color-3);
    background-color: var(--grey-color-4);
    border-radius: 3px;
    font-size: 1.4rem;
    transition: background-color .2s ease-in-out;
}

.formBtn button:hover {
    background-color: var(--grey-color-hover-4);
}

.formBtn img {
    margin-top: 1rem;
}

.authInfo {
    margin-top: 2rem;
    margin-bottom: .5rem;
    text-align: center;
    color: var(--grey-color-3);
    font-size: 1.4rem;
}

.authInfo a {
    color: var(--grey-color-3);
    text-decoration: none;
}

.authInfo a:hover {
    text-decoration: underline;
}