@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap");

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --white-color:#f9f9f9;
  --white-color-1:#f1f1f1;
  --grey-color-dark:#1f1f1f;
  --grey-color-0:#202020;
  --grey-color-1:#282828;
  --grey-color-2:#383838;
  --grey-color-3:#a1a1a1;
  --grey-color-hover-3:#c7c6c6;
  --grey-color-4:#4d4d4d;
  --grey-color-hover-4:#757575;
  --red-color-1:#D8000C;
  --red-color-2:#FFD2D2;
  --red-color-3:#DE4C4A;

}

body {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  color: var(--grey-color-0);
  background-color: var(--grey-color-1);
  font-smooth: always;
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
}

ul {
  margin: 0;
  padding: 0;
}

input,input::placeholder {
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}


button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: none;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
}

.container-white {
  min-height: 100vh;
  background-color: var(--white-color-1);
}

.container-dashboard {
  margin-top: 0rem;
  display: flex;
  align-items: baseline;
}

.dot {
  display: block;
  width: 10px;
  height: 10px;
  background-color: var(--grey-color-hover-4);
  border-radius: 50%;
  margin-right: 1rem;
}

.dflex {
  display: flex;
  align-items: center;
}

.space-between {
  justify-content: space-between;
  align-items: center;
}

.error {
  padding: .4rem .3rem;
  border-radius: 3px;
  color: var(--red-color-1) !important;
  background-color: var(--red-color-2) !important;
  font-size: 1.3rem;
  width: max-content;
  margin: .7rem 0;
}

.auth_spinner {
  width: 3.5rem;
  height: 3.5rem;
}

.set-center {
  display: flex;
  justify-content: center;
}

.pos-relative {
  position: relative;
}

.overlay {
  background-color: rgba(0,0,0,.4);
  position: fixed;
  min-height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.overlay img {
  width: 8rem;
  height: 8rem;
  transform: translateY(-10rem)
}

.border {
  background-color: var(--grey-color-4);
  width: 100%;
  height: 1px;
  margin:1rem 0;
}

.dropdown__remove:hover {
  color: var(--red-color-3);
}

.disabled-button {
  opacity: 0.6;
  cursor: default;
}

.rotate-90 {
  transform: rotate(-90deg);
  transition: transform .2s ease-in-out;
}

.rotate-0 {
  transform: rotate(0);
  transition: transform .2s ease-in-out;
}

/* calendar style */
.DayPicker-wrapper {
  background-color: var(--grey-color-2);
  box-shadow: 0 3px 5px rgba(0,0,0,.4);
}

.DayPicker-Caption {
  color: var(--white-color);
}

.DayPicker-Day {
  color: var(--grey-color-3);
}

.DayPicker-Day--disabled {
  color: var(--grey-color-4) !important;
}

.active__account-sidebar-link {
  background-color: var(--white-color) !important;
}

.account__sidebar-icon-grey {
  fill: var(--grey-color-3);
}

/* mtb */
.mtb-1 {
  margin: 1rem 0;
}
.mtb-2 {
  margin: 2rem 0;
}
.mtb-3 {
  margin: 3rem 0;
}

/* ml */
.ml-05 {
  margin-left: .5rem;
}

.mr-1 {
  margin-right: 1rem;
}
.mr-2 {
  margin-right: 2rem;
}
.mr-3 {
  margin-right: 3rem;
}
.mr-4 {
  margin-right: 4rem;
}
.mr-5 {
  margin-right: 5rem;
}

/* margin top */

.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-4 {
  margin-top: 4rem;
}
.mt-5 {
  margin-top: 5rem;
}


/* padding */
/* bottom */
.pb-1 {
  padding-bottom: 1rem;
}
.pb-2 {
  padding-bottom: 2rem;
}
.pb-3 {
  padding-bottom: 3rem;
}

/* left */
.pl-1 {
  padding-bottom: 1rem;
}
.pl-2 {
  padding-bottom: 2rem;
}
.pl-3 {
  padding-bottom: 3rem;
}

.active {
  background-color: red;
}